@model Category

<form method="post">
    <div class="border p-3 mt-4">
        <h2 class="text-primary pb-2">
            Add New Category
        <hr />
        </h2>
    <div class=" mb-3 row">
        <label asp-for="Name">Category</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="  row">
        <label asp-for="DisplayOrder">Display Order</label>
        <input asp-for="DisplayOrder" class="form-control" />
    </div>
    </div>
    <div class="row">
        <div class="col-6">
    <button type="submit" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Add</button>
        </div>
        <div class="col-6">
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Back to Categories</a>
         </div>
    </div>
    </div>
</form>
