<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Practice Project made by Berk Çavuş</h1>
    <p>This project has been created in order to learn about CRUD operations and Project structures of .net core platform. You can access Categories by simply clicking the button above</p>
</div>
